.header__lang-link {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    line-height: 28px;
    margin-right: 18px;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 424px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
    }
}