.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    margin: 32px 0 0;
    width: 360px;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        margin: 16px 16px 0;
    }
}