.place__link {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-decoration: underline;
    color: white;
    transition: opacity .3s linear;
    opacity: 1;
}

.place__link:hover {
    opacity: .8;
}