.place {
    max-width: 984px;
    min-height: 660px;
    margin: 80px auto 0;
    display: grid;
    grid-gap: 48px 40px;
    grid-template-columns: 460px 1fr;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}